/Organizing Domain Logic/revenue-recognition/src/.vs
/Organizing Domain Logic/revenue-recognition/src/bin
/Organizing Domain Logic/revenue-recognition/src/obj
/Organizing Domain Logic/revenue-recognition/src/DataAccess/bin
/Organizing Domain Logic/revenue-recognition/src/DataAccess/obj
/Organizing Domain Logic/revenue-recognition/src/XUnitTestProject/bin
/Organizing Domain Logic/revenue-recognition/src/XUnitTestProject/obj
